.about {
  margin: 0 18px 80px 18px;
  padding: 0 15px;

  color: $color;

  @media (min-width: $medium-width) {
    max-width: 690px;

    margin: 0 auto 90px;
  }

  @media (min-width: $large-width) {
    padding: 0;

    max-width: 100%;

    margin-left: 191px;
    margin-right: 109px;
  }

  @media (min-width: $full-width) {
    @include container(1110px);
  }
}

.about__caption {
  margin: 0 0 60px 0;
  padding: 0;
}

.about__wrapper {
  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: minmax(445px, 2fr) minmax(208px, 1fr);
    gap: 30px;
  }

  @media (min-width: $full-width) {
    grid-template-columns: 1fr 255px 1fr;
  }
}

.about__best-theater {
  margin-bottom: 50px;
}

.about__tittle {
  margin: 0 0 40px 0;
  padding: 0;

  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @media (min-width: $medium-width) {
    text-align: left;
  }
}

.about__text {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  @media (min-width: $medium-width) {
    text-align: left;
  }
}

.about__list {
  margin: 0 auto;
  padding: 0;

  width: 345px;

  list-style: none;

  display: flex;
  justify-content: space-between;

  @media (min-width: $medium-width) {
    flex-direction: column;

    width: auto;
  }
}

.about__item {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;

  @media (min-width: $medium-width) {
    text-align: left;
  }

  &::before {
    content: "";

    display: block;
    margin-bottom: 15px;

    width: 70px;
    height: 70px;

    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.about__item__chair {
  &::before {
    background-image: url("../img/armchair.svg");
  }
}

.about__item__theater {
  &::before {
    background-image: url("../img/theater.svg");
  }
}

.about__digit {
  color: $main-color;
}

.about__theater-image {
  display: none;

  @media (min-width: $full-width) {
    display: block;
  }
}
