.awards {
  height: 550px;
  max-width: 1110px;

  margin-bottom: 80px;

  color: $color;

  background-image: url("../img/theatre-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/theatre-bg@2x.jpg");
  }

  @media (min-width: $medium-width) {
    margin-bottom: 90px;
  }

  @media (min-width: $large-width) {
    margin: 0 auto;
    margin-bottom: 150px;
  }
}

.awards__wrapper {
  height: 100%;
  width: 100%;

  background-color: rgba($color: $bg-color, $alpha: 0.9);

  display: flex;
  align-items: center;
}

.awards__years-list {
  margin: 0 0 0 auto;
  padding: 0;

  height: 298px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  list-style: none;

  color: $main-color;

  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @media (min-width: $large-width) {
    margin: 0;
    margin-left: 191px;
  }
}

.awards__year {
  margin: 0;
  padding: 0;
}

.awards__text {
  margin: 0;
  margin-left: 30px;
  margin-right: auto;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;

  @media (min-width: $large-width) {
    margin: 0;
    margin-left: 58px;
  }

  @media (min-width: $full-width) {
    margin: 0;
    margin-left: 103px;
  }

  &::before {
    content: "";

    display: block;

    margin-bottom: 25px;

    height: 24px;

    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
