.button {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $color;
  background-color: $main-color;

  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($main-color, 10);
  }

  &:active {
    background-color: darken($main-color, 20);
  }
}
