.contacts {
  width: 150px;
  height: 100%;

  background-color: $bg-color;
  opacity: 0.85;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 100%;
  height: 55%;

  align-self: flex-end;

  margin-bottom: 86px;

  &::before {
    content: "";

    width: 2px;
    height: 80px;

    margin-bottom: -60px;

    background-color: $color;

    align-self: center;
  }
}

.contacts__text {
  transform: rotate(-90deg);

  margin: 0;
  padding: 0;

  order: -1;

  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.contacts__list {
  margin: 0;
}
