.main-nav {
  position: absolute;

  display: flex;
  align-items: center;

  top: 0;
  left: 0;

  width: 300px;
  min-height: 100%;

  background-color: $bg-color;

  @media (min-width: $large-width) {
    position: relative;

    background-color: transparent;

    display: block;

    width: auto;
    min-height: auto;

    margin-left: 191px;
    margin-right: 109px;
  }

  @media (min-width: $full-width) {
    margin: 0;
  }
}

.main-nav__toggle {
  position: absolute;

  top: 36px;
  right: 36px;

  margin: 0;
  padding: 0;

  width: 16px;
  height: 16px;

  background-color: transparent;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;

  @media (min-width: $large-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0 0 89px 0;
  padding: 0;

  @media (min-width: $large-width) {
    margin: 0;

    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $full-width) {
    width: 824px;
  }
}

.main-nav__social-list {
  margin: 0 auto;

  display: grid;
  justify-content: space-between;
  grid-template-columns: 45px 45px;
  row-gap: 50px;

  @media (min-width: $large-width) {
    display: none;
  }
}

.main-nav_closed {
  left: -300px;

  .main-nav__toggle {
    top: 50px;
    right: -67px;

    width: 27px;
    height: 20px;

    background-image: url("../img/menu.svg");
  }

  @media (min-width: $large-width) {
    left: auto;
  }
}
