.page-footer {
  color: $secod-color;

  padding: 0 15px;

  margin-top: 60px;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;

  @media (min-width: $large-width) {
    padding: 0;
  }
}

.page-footer__copyright {
  width: auto;
  margin: 0 18px;

  padding: 30px 0;

  border-top: 1px solid #565656;

  display: flex;
  justify-content: space-between;

  @media (min-width: $medium-width) {
    @include container(720px);
  }

  @media (min-width: $large-width) {
    width: auto;

    margin-left: 191px;
    margin-right: 109px;
  }

  @media (min-width: $full-width) {
    @include container(1110px );
  }
}
