.partners {
  margin-bottom: 80px;

  @media (min-width: $medium-width) {
    margin-bottom: 90px;
  }

  @media (min-width: $large-width) {
    margin-bottom: 120px;
  }

  @media (min-width: $full-width) {
    @include container(1110px);
  }
}

.partners__caption {
  color: $color;
}

.partners__list {
  margin: 0;
  padding: 0 33px;

  list-style: none;

  display: grid;
  grid-template-columns: repeat(2, min-content);
  row-gap: 80px;
  justify-content: space-between;

  @media (min-width: $medium-width) {
    padding: 0 39px;

    grid-template-columns: repeat(3, min-content);
  }

  @media (min-width: $large-width) {
    padding: 0;
    padding-left: 191px;
    padding-right: 111px;
  }

  @media (min-width: $full-width) {
    padding: 0;

    grid-template-columns: repeat(4, min-content);
  }
}

.partners__item {
  width: 200px;
  height: 96px;
}
