.patronage {
  margin: 0 24px;
  padding: 0 15px;

  @media (min-width: $large-width) {
    margin-left: 191px;
    margin-right: 111px;

    padding: 0;
  }

  @media (min-width: $full-width) {
    @include container(1110px);
  }
}

.patronage__caption {
  color: $color;

  margin: 0;
  margin-bottom: 60px;

  @media (min-width: $large-width) {
    margin-bottom: 100px;
  }
}

.patronage__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $full-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.patronage__contacts {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;

  order: 1;

  color: $color;

  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: right;

  @media (min-width: $full-width) {
    grid-template-columns: max-content;

    text-align: left;

    order: 0;

    grid-row: 25px;
  }
}

.patronage__phones,
.patronage__adress {
  display: grid;
  row-gap: 25px;

  grid-template-rows: repeat(2, min-content);
}

.patronage__feedback {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;

  @media (min-width: $medium-width) {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, min-content);
    justify-content: space-between;

    margin: 0 auto;
    margin-bottom: 60px;

    width: 690px;
  }

  @media (min-width: $full-width) {
    margin: 0;
  }
}

.patronage__fieldset {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  border: none;

  grid-column: span 2;

  display: grid;
  grid-template: repeat(3, auto) / repeat(2, minmax(min-content, 1fr));
  justify-content: space-between;
  gap: 30px;

  @media (min-width: $medium-width) {
    grid-template: repeat(2, 35px) / repeat(2, min-content) minmax(min-content, 1fr);
  }
}

.patronage__input,
.patronage__textarea {
  margin: 0;
  padding: 0 15px;

  border: 1px solid #616161;

  background-color: #444444;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $secod-color;

  &::placeholder {
    color: inherit;
  }
}

.patronage__input {
  height: 35px;

  @media (min-width: $medium-width) {
    min-width: 180px;
  }
}

.patronage__textarea {
  resize: none;

  padding-top: 10px;

  height: 100px;

  grid-column: span 2;

  @media (min-width: $medium-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.patronage__note {
  align-self: center;

  margin: 0;
  padding: 0;

  width: 435px;

  text-align: center;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $secod-color;

  order: 1;

  @media (min-width: $medium-width) {
    order: 0;
    text-align: left;

    width: 390px;
  }
}

.patronage__submit {
  align-self: center;

  margin: 0;
  margin-bottom: 30px;

  width: 190px;
  height: 50px;

  @media (min-width: $medium-width) {
    margin: 0;

    align-self: end;
    justify-self: end;
  }
}
