.performances {
  color: $color;

  padding: 0 15px;
  margin-bottom: 90px;

  @media (min-width: $large-width) {
    padding: 0;
  }
}

.performances__caption {
  margin: 0 0 60px 0;
  padding: 0;
}

.performances__tape {
  margin: 0 18px;

  overflow: hidden;

  @media (min-width: $medium-width) {
    max-width: 690px;

    margin: 0 auto;
  }

  @media (min-width: $large-width) {
    max-width: 100%;

    margin-left: 191px;
    margin-right: 109px;
  }

  @media (min-width: $full-width) {
    margin: 0;
  }
}
