.site-preview {
  @media (min-width: $full-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.site-preview__wrapper {
  max-width: 520px;

  @media (min-width: $medium-width) {
    max-width: 540px;
  }
}

.site-preview__title {
  margin: 0 0 50px 0;
  padding: 0;

  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.site-preview__description {
  margin: 0 0 50px 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.site-preview__button {
  margin: 0;
  padding: 16px 47px;
}

.site-preview__slider {
  display: none;

  @media (min-width: $full-width) {
    display: block;

    margin-right: 75px;
  }
}
