.site-list {
  padding: 0 39px;

  font-family: "Open Sans Condensed", sans-serif;

  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;

  text-transform: uppercase;

  list-style: none;

  @media (min-width: $large-width) {
    padding: 0;

    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
  }
}

.site-list__item {
  &:hover,
  &:focus {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

.site-list__item:not(:last-child) {
  margin-bottom: 35px;

  @media (min-width: $large-width) {
    margin-bottom: 0;
  }
}
