@media (min-width: $full-width) {
  .slider__list {
    margin: 0;
    padding: 0;

    list-style: none;

    margin-bottom: 25px;
  }

  .slider__item {
    display: none;
  }

  .slider__item_current {
    display: block;

    position: relative;

    width: 350px;
    height: 490px;

    margin-top: 20px;
  }

  .slider__image {
    width: 100%;
    height: 100%;
  }

  .slider__link {
    display: block;

    position: absolute;

    top: -20px;
    left: -20px;
  }

  .slider__shadow {
    position: absolute;

    top: 0;
    left: 0;

    &::after {
      content: "";

      display: block;
      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: $main-color;

      opacity: 0.85;
    }
  }

  .slider__shadow-image {
    width: 100%;
    height: 100%;
  }

  .slider__toggles {
    display: flex;
    justify-content: space-between;
  }

  .slider__toggle {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    width: 108px;

    padding: 0;
    margin: 0;

    color: $color;

    border: none;
    background-color: transparent;

    display: flex;
    justify-content: space-between;

    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.85;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .slider__toggle_prev {
    margin-left: -20px;

    &::before {
      content: "";

      width: 40px;
      height: 100%;

      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .slider__toggle_next {
    &::after {
      content: "";

      width: 40px;
      height: 100%;

      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-position: 0 0;

      transform: rotate(180deg);
    }
  }
}
