.social-contacts {
  padding: 0;

  list-style: none;

  height: 174px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  fill: $color;
}

.social-contacts__item:hover {
  svg {
    fill: $main-color;
  }
}
