.tape {
  position: relative;
}

.tape__list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;

  cursor: pointer;
}

.tape__link {
  cursor: inherit;

  display: block;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.tape__link_oskar {
  background-image: url("../img/oskar.jpg");
}

.tape__link_rapsody {
  background-image: url("../img/rapsody.jpg");
}

.tape__link_gold-gramofon {
  background-image: url("../img/gold-gramofon.jpg");
}

.tape_link_schelkunchik {
  background-image: url("../img/schelkunchik.jpg");
}

.tape__item {
  margin: 0;
  padding: 0;

  min-width: 442px;
  min-height: 550px;

  position: relative;

  &:hover {
    .tape__overview {
      display: none;
    }

    .tape__link {
      &::after {
        content: "";

        display: block;

        height: 100px;
        width: 100px;

        position: absolute;

        top: calc(50% - 50px);
        left: calc(50% - 50px);

        background-color: $main-color;
        border-radius: 50%;

        background-image: url("../img/search.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}

.tape__overview {
  width: 100%;
  height: 100%;

  position: absolute;

  top: 0;
  left: 0;

  background-color: rgba($color: $bg-color, $alpha: 0.65);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tape__tittle,
.tape__date {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.tape__tittle {
  margin: 40px;

  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
}

.tape__date {
  margin: 40px;

  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;

  transform-origin: 0 0;
  transform: rotate(-90deg,);
}
