<footer class="page-footer">
  <section class="page-footer__copyright">
    <h2 class="visually-hidden">Все права защищены</h2>
    <span class="page-footer__text">(с) Все права защищены. Большой театр. 2020</span>
    <span class="page-footer__text">Разработано AlexKomz</span>
  </section>
</footer>
