<header class="page-header">
  <div class="page-header__overview">
    <div class="page-header__wrapper">
      <nav class="main-nav  main-nav_nojs">
        <button class="main-nav__toggle" type="menu">
          <span class="visually-hidden">Открыть меню</span>
        </button>
        <div class="main-nav__wrapper">
          <ul class="main-nav__list site-list">
            <li class="site-list__item">
              <a href="#">Главная</a>
            </li>
            <li class="site-list__item">
              <a href="#">О театре</a>
            </li>
            <li class="site-list__item">
              <a href="#">Наши постановки</a>
            </li>
            <li class="site-list__item">
              <a href="#">Партнеры театра</a>
            </li>
            <li class="site-list__item">
              <a href="#">Контакты</a>
            </li>
          </ul>
          <ul class="main-nav__social-list social-nav">
            <li class="social-nav__item">
              <a class="social-nav__link social-nav__link_fb" href="#" aria-label="Мы в facebook">
                <svg role="img" width="26" height="45">
                  <use xlink:href="#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-nav__item">
              <a class="social-nav__link social-nav__link_inst" href="#" aria-label="Мы в instagramm">
                <svg role="img" width="45" height="45">
                  <use xlink:href="#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-nav__item">
              <a class="social-nav__link social-nav__link_yt" href="#" aria-label="Мы в youtube">
                <svg role="img" width="45" height="31">
                  <use xlink:href="#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="social-nav__item">
              <a class="social-nav__link social-nav__link_vk" href="#" aria-label="Мы в vk">
                <svg role="img" width="45" height="24">
                  <use xlink:href="#vk"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <span class="page-header__phone">+7 495 123-45-67</span>
    </div>
    <section class="page-header__preview site-preview">
      <div class="site-preview__wrapper">
        <h2 class="site-preview__title">Большой театр</h2>
        <p class="site-preview__description">Большо́й теа́тр — петербургский театр, существовавший в 1784—1886 годах, с
          1886 года — Петербургская консерватория. Первое постоянное в Санкт-Петербурге, крупнейшее в России и одно из
          крупнейших театральных зданий в Европе XVIII.</p>
        <button class="site-preview__button button" type="button">Афиша</button>
      </div>
      <div class="site-preview__slider slider">
        <ul class="slider__list">
          <li class="slider__item slider__item_current">
            <div class="slider__shadow">
              <picture>
                <source type="image/webp" media="(min-width: 1450px)"
                  srcset="img/webp/la-skala@2x.webp 2x, img/webp/la-skala.webp 1x">
                <source media="(min-width: 1450px)" srcset="img/la-skala@2x.jpg 2x, img/la-skala.jpg 1x">
                <img class="slider__shadow-image" src="#" alt="Опера в большом театре - Ла Скала">
              </picture>
            </div>
            <a class="slider__link" href="#">
              <picture>
                <source type="image/webp" media="(min-width: 1450px)"
                  srcset="img/webp/la-skala@2x.webp 2x, img/webp/la-skala.webp 1x">
                <source media="(min-width: 1450px)" srcset="img/la-skala@2x.jpg 2x, img/la-skala.jpg 1x">
                <img class="slider__image" src="#" alt="Опера в большом театре - Ла Скала">
              </picture>
            </a>
          </li>
          <li class="slider__item">
            <div class="slider__shadow">
              <picture>
                <source type="image/webp" media="(min-width: 1450px)"
                  srcset="img/webp/la-skala@2x.webp 2x, img/webp/la-skala.webp 1x">
                <source media="(min-width: 1450px)" srcset="img/la-skala@2x.jpg 2x, img/la-skala.jpg 1x">
                <img class="slider__shadow-image" src="#" alt="Опера в большом театре - Ла Скала">
              </picture>
            </div>
            <a class="slider__link" href="#">
              <picture>
                <source type="image/webp" media="(min-width: 1450px)"
                  srcset="img/webp/la-skala@2x.webp 2x, img/webp/la-skala.webp 1x">
                <source media="(min-width: 1450px)" srcset="img/la-skala@2x.jpg 2x, img/la-skala.jpg 1x">
                <img class="slider__image" src="#" alt="Опера в большом театре - Ла Скала">
              </picture>
            </a>
          </li>
          <li class="slider__item">
            <div class="slider__shadow">
              <picture>
                <source type="image/webp" media="(min-width: 1450px)"
                  srcset="img/webp/la-skala@2x.webp 2x, img/webp/la-skala.webp 1x">
                <source media="(min-width: 1450px)" srcset="img/la-skala@2x.jpg 2x, img/la-skala.jpg 1x">
                <img class="slider__shadow-image" src="#" alt="Опера в большом театре - Ла Скала">
              </picture>
            </div>
            <a class="slider__link" href="#">
              <picture>
                <source type="image/webp" media="(min-width: 1450px)"
                  srcset="img/webp/la-skala@2x.webp 2x, img/webp/la-skala.webp 1x">
                <source media="(min-width: 1450px)" srcset="img/la-skala@2x.jpg 2x, img/la-skala.jpg 1x">
                <img class="slider__image" src="#" alt="Опера в большом театре - Ла Скала">
              </picture>
            </a>
          </li>
        </ul>
        <div class="slider__toggles">
          <button class="slider__toggle slider__toggle_prev">Пред</button>
          <button class="slider__toggle slider__toggle_next">След</button>
        </div>
      </div>
    </section>
    <aside class="page-header__contacts contacts">
      <div class="contacts__wrapper">
        <p class="contacts__text"><span>Контактная&nbsp;информация</span></p>
        <ul class="contacts__list social-contacts">
          <li class="social-contacts__item">
            <a class="social-contacts__link social-contacts__link_inst" href="#" aria-label="Мы в instagramm">
              <svg role="img" width="26" height="26">
                <use xlink:href="#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-contacts__item">
            <a class="social-contacts__link social-contacts__link_fb" href="#" aria-label="Мы в facebook">
              <svg role="img" width="15" height="26">
                <use xlink:href="#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-contacts__item">
            <a class="social-contacts__link social-contacts__link_vk" href="#" aria-label="Мы в vk">
              <svg role="img" width="26" height="14">
                <use xlink:href="#vk"></use>
              </svg>
            </a>
          </li>
          <li class="social-contacts__item">
            <a class="social-contacts__link social-contacts__link_yt" href="#" aria-label="Мы в youtube">
              <svg role="img" width="26" height="16">
                <use xlink:href="#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</header>
