<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="Большой театр, Санкт-Петербург, досуг, туризм">
  <meta name="description" content="Крупнейший в России театр">

  <link rel="stylesheet" href="css/style.min.css">

  <link rel="preload" href="fonts/OpenSansCondensed-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSansCondensed-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin>

  <title> {{ title }} </title>
</head>

<body class="page-body">
  <div style="display: none;">
    {% include "sprite.svg" %}
  </div>

  {% include "templates/header.njk" %}

  {% block content %}
  {% endblock %}

  {% include "templates/footer.njk" %}

  <script src="js/script.min.js"></script>
</body>

</html>
