@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Condensed Bold"),
    url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Bold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-display: swap;
  src: local("Open Sans SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Condensed Light"),
    url("../fonts/OpenSansCondensed-Light.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Light.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
}
