$bg-color: #333333;
$main-color: #d1a954;
$color: #ffffff;
$secod-color: #989898;
$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$full-width: 1450px;
$retina-dpi: 144dpi;
$retina-dppx: 2dppx;
