{% set title = "Большой Театр" %}
{% extends "templates/layout.njk" %}
{% block content %}

<main class="page-main">
  <h1 class="visually-hidden">Большой Театр - крупнеший театр в России</h1>
  <section class="about">
    <h2 class="about__caption caption">
      <span class="caption__accent">О</span> театре
    </h2>
    <div class="about__wrapper">
      <div class="about__best-theater">
        <h3 class="about__tittle">Самый лучший театр СПБ</h3>
        <p class="about__text">Как свидетельствуют архивные документы, первое каменное здание Большого театра начали
          возводить в 1775 году по проекту Антонио Ринальди. В дальнейшем, после того как Ринальди упал с лесов и не мог
          лично наблюдать за ходом работ, Екатерина II поручила немецкому театральному декоратору и архитектору Людвигу
          Филиппу Тишбейну создать новый проект театра, который и был воплощён архитекторами Ф. В. фон Бауром и М. А.
          Деденёвым. Открытие его состоялось в 1783 году, хотя, основываясь на других свидетельствах, годом открытия
          можно считать 1784 год.</p>
      </div>
      <div class="about__digits">
        <h3 class="about__tittle">Немного о цифрах</h3>
        <ul class="about__list">
          <li class="about__item about__item__chair">
            <span class="about__digit">1600</span> посадочных мест
          </li>
          <li class="about__item about__item__theater">
            <span class="about__digit">350</span> лет истории
          </li>
        </ul>
      </div>
      <picture>
        <source type="image/webp" media="(min-width: 1450px)"
          srcset="img/webp/theatre@2x.webp 2x, img/webp/theatre.webp 1x">
        <source media="(min-width: 1450px)" srcset="img/theatre@2x.jpg 2x, img/theatre.jpg 1x">
        <img class="about__theater-image" src="#" alt="Амфас Большого Театра">
      </picture>
    </div>
  </section>
  <section class="performances">
    <h2 class="performances__caption caption">
      <span class="caption__accent">Наши</span> постановки
    </h2>
    <div class="performances__tape tape">
      <ul class="tape__list">
        <li class="tape__item">
          <a class="tape__link tape__link_oskar" href="#"></a>
          <div class="tape__overview">
            <p class="tape__tittle">Оскар 2020</p>
            <p class="tape__date">Сентябрь 2020</p>
          </div>
        </li>
        <li class="tape__item">
          <a class="tape__link tape__link_rapsody" href="#"></a>
          <div class="tape__overview">
            <p class="tape__tittle">Зимняя рапсодия</p>
            <p class="tape__date">Август 2020</p>
          </div>
        </li>
        <li class="tape__item">
          <a class="tape__link tape__link_gold-gramofon" href="#"></a>
          <div class="tape__overview">
            <p class="tape__tittle">Золотой грамофон</p>
            <p class="tape__date">Июль 2020</p>
          </div>
        </li>
        <li class="tape__item">
          <a class="tape__link tape_link_schelkunchik" href="#"></a>
          <div class="tape__overview">
            <p class="tape__tittle">Щелкунчик</p>
            <p class="tape__date">Май 2020</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="awards">
    <h2 class="visually-hidden">Наши награды</h2>
    <div class="awards__wrapper">
      <ul class="awards__years-list">
        <li class="awards__year">2018</li>
        <li class="awards__year">2019</li>
        <li class="awards__year">2020</li>
      </ul>
      <p class="awards__text">Лучший театр<br>по мнению театральных<br>критиков Парижа</p>
    </div>
  </section>
  <section class="partners">
    <h2 class="partners__caption caption">
      <span class="caption__accent">Партнеры</span> театра
    </h2>
    <ul class="partners__list">
      <li class="partners__item partners__items_gazprom">
        <img class="partners__logo" src="img/gazprom.svg" alt="Газпром">
      </li>
      <li class="partners__item partners__items_gazprom">
        <img class="partners__logo" src="img/gazprom.svg" alt="Газпром">
      </li>
      <li class="partners__item partners__items_gazprom">
        <img class="partners__logo" src="img/gazprom.svg" alt="Газпром">
      </li>
      <li class="partners__item partners__items_gazprom">
        <img class="partners__logo" src="img/gazprom.svg" alt="Газпром">
      </li>
      <li class="partners__item partners__items_gazprom">
        <img class="partners__logo" src="img/gazprom.svg" alt="Газпром">
      </li>
      <li class="partners__item partners__items_gazprom">
        <img class="partners__logo" src="img/gazprom.svg" alt="Газпром">
      </li>
      <li class="partners__item partners__items_gazprom">
        <img class="partners__logo" src="img/gazprom.svg" alt="Газпром">
      </li>
      <li class="partners__item partners__items_gazprom">
        <img class="partners__logo" src="img/gazprom.svg" alt="Газпром">
      </li>
    </ul>
  </section>
  <section class="patronage">
    <h2 class="patronage__caption caption">
      <span class="caption__accent">Стать</span> меценатом
    </h2>
    <div class="patronage__wrapper">
      <div class="patronage__contacts">
        <div class="patronage__phones">
          <span>+7 (812) 123-45-55</span>
          <span>+7 (812) 123-45-66</span>
        </div>
        <div class="patronage__adress">
          <span>info@theater.ru</span>
          <span>г. санкт-петербург, невский 140</span>
        </div>
      </div>
      <form class="patronage__feedback" action="post">
        <fieldset class="patronage__fieldset">
          <legend class="visually-hidden">Ввод данных для обратной связи</legend>
          <input class="patronage__input" type="text" placeholder="Имя">
          <input class="patronage__input" type="text" placeholder="Компания">
          <input class="patronage__input" type="text" placeholder="Телефон">
          <input class="patronage__input" type="text" placeholder="E-mail">
          <textarea class="patronage__textarea">Сообщение</textarea>
        </fieldset>
        <p class="patronage__note">* Ваши данные не будут переданы третьим лицам, 100% вероятность. Конфиденциальность
          мы гарантируем, и защищаем персональные данные согласно законку ФЗ-52.</p>
        <button class="patronage__submit button" type="submit">Отправить</button>
      </form>
    </div>
  </section>
</main>

{% endblock %}
